{% extends 'base.html.twig' %}

{% block title %}AJOUTER{% endblock %}

{% block body %}
<form>
  <fieldset >
    <legend>Page ajout</legend>
    <div class="mb-3">
      <label  class="form-label">Intitulé du job</label>
      <input type="text"  class="form-control" placeholder="saisir le nom">
    </div>
   <div class="input-group input-group-lg">
      <label  class="form-label">Description</label></br>

  <input type="textarea" class="form-control" aria-label="18" aria-describedby="inputGroup-sizing-lg">
</div>
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </fieldset>
</form>
{% endblock %}
